PORT=port_number
REACT_APP_FRONTEND_URL=https://your-domain.com

# WireGuard configuration
SERVER_PUBLIC_KEY=wg_public_key
SERVER_ENDPOINT=your_server_ip:51820
DNS_SERVER=1.1.1.1,8.8.8.8
VPN_SUBNET_MASK=24

# authentication
ROOT_ADMIN_USERNAME=admin
ROOT_ADMIN_PASSWORD=admin_password

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h

DEMO_CLEANUP_INTERVAL=1800000

WG_INTERFACE=wg0

